.heading-primary {
  font-size: 2.4rem; //24px;
  font-weight: 700;

  @include respond(small-phone) {
    font-size: 6vw;
  }
}

.heading-secondary {
  font-size: 2.2rem; //22px;
  text-align: center;
  font-weight: 700;
}

.heading-tertiary {
  font-size: 1.8rem; //18px;
  font-weight: 700;
}

.paragraph {
  font-size: 1.6rem;
}

.fw-500 {
  font-weight: 500 !important;
}

.fw-600 {
  font-weight: 600 !important;
}

.fw-700, .fw-bold {
  font-weight: 700 !important;
}