.heading-primary {
  font-size: 2.4rem; //24px;
  font-weight: 700;

  @include respond(small-phone) {
    font-size: 6vw;
  }

  &--md {
    font-size: 3rem;
    font-weight: 700;

    @include respond(small-phone) {
      font-size: 6.2vw;
    }
  }

  &--big {
    font-size: 3.4rem;
    font-weight: 700;

    @include respond(small-phone) {
      font-size: 6.5vw;
    }
  }
}

.heading-secondary {
  font-size: 2.2rem; //22px;
  font-weight: 700;
}

.heading-tertiary {
  font-size: 1.8rem; //18px;
  font-weight: 700;
}

.paragraph {
  font-size: 1.6rem;
}

.fw-400 {
  font-weight: 400 !important;
}

.fw-500 {
  font-weight: 500 !important;
}

.fw-600 {
  font-weight: 600 !important;
}

.fw-700, .fw-bold {
  font-weight: 700 !important;
}