.index-card {
  border-radius: 12px;
  padding: 2.4rem 2rem;
  background-color: $color-secondary-dark;
  color: $color-white;
  height: 15rem;
  width: 30%;

  &:not(:last-child) {
    margin-right: 2rem;

    @include respond(tab-land-sm) {
      margin-right: 1rem;
    }

    @include respond(phone-mid) {
      margin-bottom: 20px !important;
    }
  }

  @include respond(tab-land) {
    width: 28rem;
  }

  // @include respond(tab-land-sm) {
  //   width: 22rem;
  // }

  @include respond(phone-land) {
    width: 24rem;
  }

  @include respond(phone-mid) {
    width: 100%;
    max-width: 60rem;
    margin: 0;
  }

  &__text {
    color: $color-grey-c8c;
  }
}
