.secret-key {
  width: 100%;
  padding: 40px;

  @include respond(phone) {
    padding: 20px;
  }

  &__title {
    text-align: center;
  }

  // &__body {

  // }

  &__label {
    color: #414143 !important;
  }

  &__error-text {
    color: #EB4545;
  }

  &__btn-box {
    width: 80%;
    margin: 30px auto;
    display: flex;
    justify-content: space-between;

    @include respond(phone) {
      width: 100%;
    }
  }

  &__btn-small {
    flex: 0 1 120px;
  }

  &__btn-big {
    flex: 0 1 160px;
  }

  &__resend {
    text-align: center;
    display: inline-block;
    width: 100%;
    a {
      color: #3382FA !important;
      cursor: pointer !important;
    }
  }
}