.tab-holder {
  width: 100%;
  height: 100%;

  .tab-list {
    @include respond(tab-land-sm) {
      display: none;
    }

    &__box {
      display: flex;
      position: relative;
      border-bottom: 1px solid #29292b;
      color: $color-grey-c8c;
      margin-bottom: 20px;
      flex-wrap: wrap;
    }

    &__item {
      display: inline-block;
      background-color: transparent;
      padding: 0px 5px 5px 5px;
      cursor: pointer;
      position: relative;
      z-index: 2;
      flex: 0 0 20%;
      border-bottom: 1px solid transparent;

      @include respond(phone) {
        flex: 0 0 50%;
      }
    }

    &__glider {
      position: absolute;
      height: 100%;
      z-index: 1;
      border-bottom: 2px solid $color-primary;
      transition: all 0.3s;
      width: 20%;
      top: 2px;

      @include respond(phone) {
        width: 50%;
      }

      &--w1 {
        width: 100%;
      }

      &--w2 {
        width: 50%;
      }

      &--w3 {
        width: 33.33%;

        @include respond(phone) {
          width: 50%;
        }
      }

      &--w4 {
        width: 25%;

        @include respond(phone) {
          width: 50%;
        }
      }

      &--1 {
        transform: translateX(0);
      }

      &--2 {
        transform: translateX(100%);
      }

      &--3 {
        transform: translateX(200%);
        @include respond(phone) {
          transform: translateX(100%);
        }
      }

      &--4 {
        transform: translateX(300%);
        @include respond(phone) {
          transform: translateX(100%);
        }
      }

      &--5 {
        transform: translateX(400%);
        @include respond(phone) {
          transform: translateX(100%);
        }
      }
    }
  }
}


.tab-drop {
  position: relative;
  padding: 10px;
  border-radius: 8px;
  color: $color-grey-c8c;
  display: none;

  @include respond(tab-land-sm) {
    display: block;
  }

  &--grey {
    background-color: #F5F5F7;
  }

  &--white {
    background-color: white;
  }

  &__title-con {
    @include flexcon(center, left, row);
    cursor: pointer;

    .title {
      font-weight: bold;
      margin-right: 5px;
    }

    .arrow-con {
      display: inline-block;
      width: 15px;
      min-width: 15px;
      margin-left: auto;
      transition: all .2s;

      img {
        width: 100%;
      }
    }

    .rotate-up {
      transform: rotate(-180deg);
    }
  }

  &__content {
    background-color: $color-primary-dark;
    border: 1px solid $color-grey-404;
    padding: 10px;
    position: absolute;
    z-index: 3;
    margin-top: 15px;
    left: 0;
    width: 100%;
  }

  &__item {
    padding: 10px 0;
    cursor: pointer;

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}
