$color-primary: #053888;

$color-primary-light: #00a8ff;
$color-primary-dark: #111219;

$color-secondary-light: #ffc107;
$color-secondary-dark: #181D2C;

$color-white: #ffffff;
$color-black: #000000;

$color-grey-c8c: #C8C4CC;
