$color-primary: #053888;

$color-primary-light: #00a8ff;
$color-primary-dark: #111219;

$color-secondary-light: #ffc107;
$color-secondary-dark: #181D2C;

$color-white: #ffffff;
$color-black: #000000;

$color-grey-c8c: #C8C4CC;
$color-grey-404: #404043;
$color-grey-202: #202329;
$color-grey-707: #707070;

$color-yellow-f8c: #F8C654;

$color-green-049: #04953B;

$color-link: #3382FA;
