$color-primary: #053888;
$color-primary-auth: #041d45;
$color-secondary: #242426;

$color-primary-light: #00a8ff;
$color-primary-dark: #111219;

$color-secondary-light: #ffc107;
$color-secondary-dark: #181d2c;

$color-white: #ffffff;
$color-black: #000000;
$color-black-242: #242426;

$color-grey-c8c: #c8c4cc;
$color-grey-404: #404043;
$color-grey-202: #202329;
$color-grey-707: #707070;
$color-grey-e5e: #E5ECFC;
$color-grey-221229: #212229;

$color-yellow-f8c: #f8c654;

$color-green-049: #04953b;

$color-blue-c8d: #c8ddfd;

$color-link: #3382fa;

$color-delete: #bf0505;

$color-grey-eb: #ebebed;
$color-grey-b2: #b2b2b2;
$color-grey-f8: #f8f8fd;

$color-yellow-1: #ffb91a;

$color-brown-1: #fff6e3;
$color-brown-2: #fae9c4;

$color-green: #05bf4c;
$color-orange: #ff6e14;
$color-red: #e50c0c;

$color-red-2: #f8486a;
