.u-mb-sm {
  margin-bottom: 10px !important;
}

.u-my-big {
  margin-top: 40px !important;
  margin-bottom: 40px !important;
}

.u-text-left {
  text-align: left !important;
}

.u-link {
  color: $color-link;
  cursor: pointer;
}
