.u-mb-5 {
  margin-bottom: 5px !important;
}

.u-mb-8 {
  margin-bottom: 8px !important;
}

.u-mb-sm,
.u-mb-10 {
  margin-bottom: 10px !important;
}

.u-mt-20 {
  margin-top: 20px !important;
}

.u-mb-20 {
  margin-bottom: 20px !important;
}

.u-mb-30 {
  margin-bottom: 30px !important;
}

.u-mb-big,
.u-mb-40 {
  margin-bottom: 40px !important;
}

.u-mb-0,
.u-mb-none {
  margin-bottom: 0 !important;
}

.u-my-big,
.u-my-40 {
  margin-top: 40px !important;
  margin-bottom: 40px !important;
}

.u-my-small {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.u-my-20 {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

.u-my-30 {
  margin-top: 30px !important;
  margin-bottom: 30px !important;
}

.u-mr-5 {
  margin-right: 5px !important;
}

.u-mr-10 {
  margin-right: 10px !important;
}

.u-mx-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}

.u-mr-20 {
  margin-right: 20px !important;
}

.u-link {
  color: $color-link;
  cursor: pointer;
}

.u-link-color {
  color: #3382fa;
}

.u-link-color-2 {
  color: #0f58fb;
}

.u-white {
  color: $color-white !important;
}

.u-text-left {
  text-align: left !important;
}

.u-text-center {
  text-align: center !important;
}

.u-text-right {
  text-align: right !important;
}

.u-opaque-5 {
  opacity: 0.5 !important;
}

.u-pointer {
  cursor: pointer !important;
}

.u-pointer-default {
  cursor: default !important;
}

.u-relative {
  position: relative !important;
}

.u-none {
  display: none !important;
}

.u-block {
  display: block !important;
}

.u-flex,
.u-d-flex {
  display: flex !important;

  &--col {
    flex-direction: column;
  }

  &--h-center,
  &--align-center {
    align-items: center;
  }

  &--w-center,
  &--justify-center {
    justify-content: center;
  }
}

.u-flex-1 {
  flex: 1 !important;
}

.u-capitalize {
  text-transform: capitalize !important;
}

.u-line-height-1 {
  line-height: 1 !important;
}

.u-line-height-1-2 {
  line-height: 1.2 !important;
}

.u-abs-center-vertical {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.u-color-grey707 {
  color: #707070;
}

.u-color-primary {
  color: $color-primary;
}

.u-truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  max-width: 400px;
  height: 100%;
}

.u-info-icon {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  font-size: 12px;
  font-weight: 700;
  padding: 2px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid currentColor;
  text-transform: lowercase;
  vertical-align: middle;
  cursor: pointer;
  margin: 0 5px;
}
