.u-mb-5 {
  margin-bottom: 5px !important;
}

.u-mb-sm,
.u-mb-10 {
  margin-bottom: 10px !important;
}

.u-mt-20 {
  margin-top: 20px !important;
}

.u-mb-20 {
  margin-bottom: 20px !important;
}

.u-mb-30 {
  margin-bottom: 30px !important;
}

.u-my-big {
  margin-top: 40px !important;
  margin-bottom: 40px !important;
}

.u-my-small {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.u-my-20 {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

.u-my-30 {
  margin-top: 30px !important;
  margin-bottom: 30px !important;
}

.u-mr-20 {
  margin-right: 20px !important;
}

.u-text-left {
  text-align: left !important;
}

.u-link {
  color: $color-link;
  cursor: pointer;
}

.u-white {
  color: $color-white !important;
}

.u-text-center {
  text-align: center !important;
}
