.index-txn-info {
  display: flex;
  justify-content: space-between;
  overflow-x: auto;
}

.index-complete-kyc {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
  border: 1px solid $color-grey-404;
  border-radius: 8px;

  &__info {
    display: flex;

    img {
      width: 20px;
      height: auto;
      margin-right: 10px;
    }
  }

  &__link-box {
    display: flex;
    align-items: center;

    .icon {
      width: 7px;
    }
  }
}

.index-rate-box {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 2rem;
  color: $color-grey-c8c;
  border-radius: 8px;
  background-color: $color-secondary-dark;
  overflow-x: auto;

  .rate {
    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin-right: 2rem;
    }

    @include respond(phone) {
      flex: 0 0 max-content;
    }
    
    img {
      width: 15px;
      height: auto;
    }
  }
}

.index-txn-earn-ex {
  display: flex;
  justify-content: space-between;
  height: 48rem;

  @include respond(phone-land) {
    flex-direction: column;
    height: auto;
  }
}

.index-recent-txn {
  height: 100%;
  flex: 1 0 48%;
  background-color: $color-secondary-dark;
  padding: 2rem;
  border-radius: 12px;
  margin-right: 3rem;

  @include respond(phone-land) {
    flex: 1 0 100%;
    margin-right: 0;
    margin-bottom: 3rem;
  }

  &__rct-box {
    width: 100%;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem;
    
    &:not(:last-child) {
      margin-bottom: 3rem;
    }

    img {
      width: 30px;
      height: 30px;
      margin-right: 1.5rem;
    }

    .coin-date {
      flex: 1;
      max-width: 80%;
      display: flex;
      flex-direction: column;
      margin-right: 1.5rem;
    }
  }
}

.index-earn-ex {
  height: 100%;
  flex: 1 0 48%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include respond(phone-land) {
    flex: 1 0 100%;
  }
}

.index-earn, .index-ex {
  background-color: $color-secondary-dark;
  padding: 2rem;
  border-radius: 12px;
  height: 48%;

  @include respond(phone-land) {
    flex: 1 0 100%;
    height: auto;
  }
}

.index-earn {
  margin-bottom: 3rem;
}

.index-guide {
  display: flex;
  align-items: center;
  padding: 3rem;
  border-radius: 12px;
  color: $color-white;
  background: transparent linear-gradient(100deg, #AF29EB 0%, #124EE5 100%) 0% 0% no-repeat padding-box;

  @include respond(phone) {
    flex-direction: column;
    padding: 2rem;
  }

  img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 3rem;

    @include respond(phone) {
      margin-right: 0;
      margin-bottom: 2rem;
    }
  }

  &__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    @include respond(phone) {
      align-items: center;
      margin-bottom: 2rem;
    }
  }

  &__btn {
    width: 150px !important;
    background-color: #A82BEB !important;
  }
}