.index-txn-info {
  display: flex;
  justify-content: space-between;
  overflow-x: auto;
}

.index-complete-kyc {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
  border: 1px solid $color-grey-404;
  border-radius: 8px;

  &__info {
    display: flex;

    img {
      width: 20px;
      height: auto;
      margin-right: 10px;
    }
  }

  &__link-box {
    display: flex;
    align-items: center;

    .icon {
      width: 7px;
    }
  }
}

.index-rate-box {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 2rem;
  color: $color-grey-c8c;
  border-radius: 8px;
  background-color: $color-secondary-dark;
  overflow-x: auto;

  .rate {
    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin-right: 2rem;
    }

    @include respond(phone) {
      flex: 0 0 max-content;
    }

    img {
      width: 15px;
      height: auto;
    }
  }
}

.index-txn-earn-ex {
  display: flex;
  justify-content: space-between;
  height: 48rem;

  @include respond(phone-land) {
    flex-direction: column;
    height: auto;
  }
}

.index-recent-txn {
  height: 100%;
  flex: 1 0 58%;
  background-color: $color-secondary-dark;
  padding: 2rem;
  border-radius: 12px;
  margin-right: 3rem;

  @include respond(tab-land-sm) {
    flex: 1 0 48%;
  }

  @include respond(phone-land) {
    flex: 1 0 100%;
    margin-right: 0;
    margin-bottom: 3rem;
  }

  &__rct-box {
    width: 100%;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem;

    &:not(:last-child) {
      margin-bottom: 3rem;
    }

    img {
      width: 30px;
      height: 30px;
      margin-right: 1.5rem;
    }

    .coin-date {
      flex: 1;
      max-width: 80%;
      display: flex;
      flex-direction: column;
      margin-right: 1.5rem;
    }
  }
}

.index-earn-ex {
  height: 100%;
  flex: 1 0 38%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include respond(tab-land-sm) {
    flex: 1 0 48%;
  }

  @include respond(phone-land) {
    flex: 1 0 100%;
  }
}

.index-earn,
.index-ex {
  background-color: $color-secondary-dark;
  padding: 3rem;
  border-radius: 12px;
  height: 48%;

  @include respond(phone-land) {
    flex: 1 0 100%;
    height: auto;
  }
}

.index-earn {
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__top {
    display: flex;
    justify-content: space-between;
    height: 8rem;
    margin-bottom: 3rem;

    img {
      width: 60px;
      height: auto;
    }

    .users {
      width: 40px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    &:not(:last-child) {
      margin-right: 1rem;
    }

    &--1 {
      // flex: 1;
      align-items: flex-start;
    }
  }

  &__btn {
    width: 100% !important;
    background-color: $color-green-049;
  }
}

.index-ex {
  display: flex;
  flex-direction: column;

  &__heading {
    display: flex;

    img {
      width: 25px;
      height: auto;
      margin-left: 10px;
    }
  }

  &__rate-and-btn {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__rate-box {
    display: flex;
    flex-direction: column;

    @include respond(phone-land) {
      margin-bottom: 20px;
    }
  }

  &__rate-item {
    display: flex;
    justify-content: space-between;

    &:not(:last-child) {
      margin-bottom: 1rem;
    }

    .coin {
      flex: 1 1 40%;
      display: flex;
      align-items: center;
      margin-right: 1rem;
    }

    .rate {
      flex: 1 1 60%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    img {
      width: 15px;
      height: auto;
    }
  }

  &__btn {
    width: 100% !important;
  }
}

.index-guide {
  display: flex;
  align-items: center;
  // justify-content: space-between;
  padding: 3rem;
  border-radius: 12px;
  color: $color-white;
  background: transparent linear-gradient(100deg, #af29eb 0%, #124ee5 100%) 0%
    0% no-repeat padding-box;

  @include respond(phone) {
    flex-direction: column;
    padding: 2rem;
  }

  img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 3rem;

    @include respond(phone) {
      margin-right: 0;
      margin-bottom: 2rem;
    }
  }

  &__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    // max-width: 40rem;

    @include respond(phone) {
      align-items: center;
      margin-bottom: 2rem;
    }
  }

  &__btn {
    // width: 150px !important;
    padding: 1.2rem 1.8rem;
    background-color: #a82beb !important;
  }
}
