.index-txn-info {
  display: flex;
  justify-content: space-between;
  overflow-x: auto;
}

.index-complete-kyc {
  display: grid;
  grid-template-columns: 50px 1fr auto;
  justify-content: space-between;
  padding: 1.5rem;
  border: 1px solid $color-grey-404;
  border-radius: 8px;
  i.bx {
    font-size: 3.3rem;
  }
  @media (max-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    & > * {
      &:first-child {
        order: 1;
      }
      &:last-child {
        order: 2;
      }
    }
    .progress--bar-holder {
      order: 0;
      width: 100%;
      margin-bottom: 10px;
      & > div{
        &:first-child {
          flex-direction: column-reverse;
          max-width: 100%;
          .progress-bar {
            margin: 10px 0;
          }
        }
      }
    }
    .index-complete-kyc__info {
      justify-content: center;
    }
    .index-complete-kyc__link-box {
      align-self: flex-end;
    }
  }

  &__info {
    display: flex;

    img {
      width: 20px;
      height: auto;
      margin-right: 10px;
    }
  }

  &__link-box {
    display: flex;
    align-items: center;

    .icon {
      width: 7px;
    }
  }
}

.index-marquee {
  overflow-x: hidden;
  background-color: $color-secondary-dark;
  border-radius: 8px;
}

.index-rate-box {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 2rem;
  background-color: $color-secondary-dark;
  color: $color-grey-c8c;
  border-radius: 8px;
  transform: translateX(-100%);
  animation: marquee 15s linear infinite;

  .rate {
    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin-right: 2rem;
    }

    @include respond(phone) {
      flex: 0 0 250px;
    }

    img {
      width: 15px;
      height: auto;
    }
  }
}

.index-txn-earn-ex {
  display: flex;
  justify-content: space-between;
  height: 45rem;

  @include respond(tab-land) {
    flex-direction: column;
    height: auto;
  }

  @include respond(phone-land) {
    flex-direction: column;
    height: auto;
  }
}

.index-recent-txn {
  height: 100%;
  flex: 1 0 58%;
  background-color: $color-secondary-dark;
  padding: 2rem;
  border-radius: 12px;
  margin-right: 3rem;

  @include respond(tab-land) {
    flex: 1 0 100%;
    margin-right: 0;
    margin-bottom: 3rem;
  }

  @include respond(phone-land) {
    flex: 1 0 100%;
    margin-right: 0;
    margin-bottom: 3rem;
  }

  &__rct-box {
    width: 100%;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // padding-left: 1rem;

    &:not(:last-child) {
      margin-bottom: 2.5rem;
    }

    img {
      width: 40px;
      height: 40px;
      margin-right: 1.5rem;

      @include respond(phone) {
        width: 30px;
        height: 30px;
        margin-right: 1rem;
      }
    }

    .coin-date {
      flex: 1;
      max-width: 80%;
      display: flex;
      flex-direction: column;
      margin-right: 1.5rem;
    }

    .amount {
      font-size: 2rem;

      @include respond(phone) {
        font-size: 1.6rem;
      }
    }
  }
}

.index-earn-ex {
  height: 100%;
  flex: 1 0 38%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include respond(tab-land) {
    flex-direction: row;
    flex: 1 0 100%;
    height: auto;
  }

  @include respond(phone-land) {
    flex-direction: column;
    flex: 1 0 100%;
  }
}

.index-earn,
.index-ex {
  background-color: $color-secondary-dark;
  padding: 2rem;
  border-radius: 12px;
  height: 48%;

  @include respond(tab-land) {
    width: 48%;
    height: 220px;
  }

  @include respond(phone-land) {
    flex: 1 0 100%;
    width: 100%;
    height: auto;
  }
}

.index-earn {
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__top {
    display: flex;
    justify-content: space-between;
    height: 8rem;
    margin-bottom: 3rem;

    img {
      width: 60px;
      height: auto;
    }

    .users {
      width: 40px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;

    &:not(:last-child) {
      margin-right: 1rem;
    }

    &--1 {
      // flex: 1;
      align-items: flex-start;
    }
  }

  &__btn {
    width: 100% !important;
    background-color: $color-green-049;
  }
}

.index-ex {
  display: flex;
  flex-direction: column;

  &__heading {
    display: flex;

    img {
      width: 25px;
      height: auto;
      margin-left: 10px;
    }
  }

  &__rate-and-btn {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__rate-box {
    display: flex;
    flex-direction: column;

    @include respond(phone-land) {
      margin-bottom: 20px;
    }
  }

  &__rate-item {
    display: flex;
    justify-content: space-between;

    &:not(:last-child) {
      margin-bottom: 1rem;
    }

    .coin {
      flex: 1 1 auto;
      min-width: 30%;
      display: flex;
      align-items: center;
      margin-right: 1rem;
    }

    .rate {
      flex: 1 1 60%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    img {
      width: 15px;
      height: auto;
    }
  }

  &__btn {
    width: 100% !important;
  }
}

.index-guide {
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  // justify-content: space-between;
  padding: 3rem;
  border-radius: 12px;
  color: $color-white;
  background: transparent linear-gradient(100deg, #af29eb 0%, #124ee5 100%) 0%
    0% no-repeat padding-box;

  @include respond(phone) {
    flex-direction: column;
    padding: 2rem;
  }

  &__tr-img {
    width: 50px;
    height: 50px;
    position: absolute;
    top: -5px;
    right: -10px;
  }

  &__tr-star {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 20px;
    right: 40px;
  }

  &__advisor {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 3rem;

    @include respond(phone) {
      margin-right: 0;
      margin-bottom: 2rem;
    }
  }

  &__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    // max-width: 40rem;

    @include respond(phone) {
      align-items: center;
      margin-bottom: 2rem;
      text-align: center;
    }
  }

  &__btn {
    // width: 150px !important;
    padding: 1.5rem 2.4rem;
    background-color: #a82beb !important;
    border-radius: 8px;
  }
}

.index-float-btn {
  display: none;
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  z-index: 9999;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: $color-primary;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;

  img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }

  @include respond(tab-land-sm) {
    display: flex;
  }
}

.index-show-cur-switch {
  display: none;
  @include respond(phone) {
    display: flex;
    justify-content: flex-end;
  }
}

a:hover {
  color: unset;
}

[type="date"] {
  color-scheme: dark
}
