.txn-tab {
  // padding-top: 10px;
  color: $color-grey-c8c;
  margin-top: 30px;
  margin-bottom: 30px;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include respond(phone) {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
    }
  }

  &__search-box {
    display: inline-block;
    flex: 0 0 30rem;
    border-radius: 8px;
    padding: 0;
    padding-left: 35px;
    position: relative;
    background-color: $color-secondary-dark;

    @include respond(phone) {
      flex: 0;
      width: 100%;
      margin-right: 0;
      margin-bottom: 3rem;
    }
  }

  &__search-icon {
    width: 18px;
    height: 18px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15px;
  }

  &__search-input {
    width: 100%;
    border: none;
    outline: none;
    font-size: 1.6rem;
    padding: 8px 10px;
    background-color: transparent;
  }

  &__page-box {
    background-color: inherit;
    display: flex;
    align-items: center;

    @include respond(phone) {
      justify-content: flex-start;
      width: 100%;
    }
  }

  &__arrow-box {
    width: 5rem;
    display: flex;
    justify-content: space-between;
    margin-left: 10px;

    @include respond(phone) {
      margin-left: auto;
      margin-top: 2px;
    }

    .icon {
      width: 15px;
      height: 15px;
      cursor: pointer;
      fill: #707070;
      transition: fill 0.2s ease-in-out;

      &:hover {
        fill: $color-link;
      }
    }
  }
}
