.txn-tab {
  // padding-top: 10px;
  color: $color-grey-c8c;
  margin-top: 30px;
  margin-bottom: 30px;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__search-box {
    display: inline-block;
    flex: 0 0 30rem;
    border-radius: 8px;
    padding: 0;
    padding-left: 24px;
    position: relative;
    background-color: $color-secondary-dark;
  }

  &__search-icon {
    width: 20px;
    height: 20px;
    position: absolute;
  }

  &__search-input {
    width: 100%;
    border: none;
    outline: none;
    font-size: 1.6rem;
    padding: 8px 10px;
    background-color: transparent;
  }

  &__page-box {
    background-color: inherit;
    display: flex;
    align-items: center;
  }

  &__arrow-box {
    width: 5rem;
    display: flex;
    justify-content: space-between;
    margin-left: 10px;

    .icon {
      width: 1.5rem;
      height: 1.5rem;
      cursor: pointer;
      fill: #707070;
      transition: fill 0.2s ease-in-out;

      &:hover {
        fill: $color-link;
      }
    }
  }
}