.empty-state {
  display: flex;
  flex: 1;
  height: 80%;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2.5rem;
  background-color: $color-secondary-dark;
  color: $color-grey-c8c;
  border-radius: 8px;

  &__content {
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
  }
}