.order {
  font-size: 16px;
  font-family: 'SFPro';
  font-weight: 400;
  color: $color-secondary;
}

p {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.order-main {
  display: flex;
  background-color: #f8f8fd;
  min-height: calc(100vh - 50px);
  width: 100%;
  padding: 20px;

  @include respond(phone) {
    padding: 0;
  }

  &__left-container,
  &__right-container {
    display: flex;
    align-items: center;
    position: relative;
    border-radius: 12px;

    &--top {
      align-items: flex-start;
    }
  }

  &__left-container {
    flex: 0 0 60%;
    background-color: $color-white;
    margin-right: 20px;
    padding: 20px;

    @media screen and (max-width: 900px) {
      flex: 0 0 100%;
      margin-right: 0;
    }
  }

  &__right-container {
    flex: 0 1 40%;
    justify-content: center;
    background-color: $color-white;
    padding: 20px;

    @media screen and (max-width: 900px) {
      display: none;
    }
  }

  &__left-content {
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
    align-self: center;
  }

  &__right-content {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
  }
}

.loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: #000000;
  opacity: 0.8;

  z-index: 50000000 !important;

  &__circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: $color-primary;
    position: relative;
  }

  &__text {
    margin-top: 40px;
    font-size: 16px;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
  }

  &__dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    position: absolute;

    &--red {
      background-color: #fd5b5b;
      top: 20%;
      left: 20%;
      animation: dot-red 1s infinite;

      @keyframes dot-red {
        100% {
          transform: translate(100%, 100%);
        }
      }
    }

    &--yellow {
      background-color: #bffd5b;
      top: 20%;
      right: 20%;
      animation: dot-yellow 1s infinite;

      @keyframes dot-yellow {
        100% {
          transform: translate(-100%, 100%);
        }
      }
    }

    &--purple {
      background-color: #ea5bfd;
      bottom: 20%;
      left: 20%;
      animation: dot-purple 1s infinite;

      @keyframes dot-purple {
        100% {
          transform: translate(100%, -100%);
        }
      }
    }

    &--blue {
      background-color: #5beafd;
      bottom: 20%;
      right: 20%;
      animation: dot-blue 1s infinite;

      @keyframes dot-blue {
        100% {
          transform: translate(-100%, -100%);
        }
      }
    }
  }
}

.loading-circle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: $color-primary;
  position: relative;

  &__dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    position: absolute;

    &--red {
      background-color: #fd5b5b;
      top: 20%;
      left: 20%;
      animation: dot-red 1s infinite;

      @keyframes dot-red {
        100% {
          transform: translate(100%, 100%);
        }
      }
    }

    &--yellow {
      background-color: #bffd5b;
      top: 20%;
      right: 20%;
      animation: dot-yellow 1s infinite;

      @keyframes dot-yellow {
        100% {
          transform: translate(-100%, 100%);
        }
      }
    }

    &--purple {
      background-color: #ea5bfd;
      bottom: 20%;
      left: 20%;
      animation: dot-purple 1s infinite;

      @keyframes dot-purple {
        100% {
          transform: translate(100%, -100%);
        }
      }
    }

    &--blue {
      background-color: #5beafd;
      bottom: 20%;
      right: 20%;
      animation: dot-blue 1s infinite;

      @keyframes dot-blue {
        100% {
          transform: translate(-100%, -100%);
        }
      }
    }
  }
}
