.topbar {
  display: flex;
  align-items: center;
  padding: 2rem 1.6rem;
  background-color: $color-primary-dark;

  &__logo {
    display: none;
    width: 100%;
    height: 48px;
    padding: 10px 0;

    @include respond(phone) {
      display: inline-block;
    }

    a {
      display: inline-block;
    }

    img {
      height: 30px;
      width: auto;
    }
  }

  &__page-title {
    color: $color-white;
    text-transform: capitalize;

    @include respond(phone) {
      display: none;
    }
  }

  &__actions {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: auto;

    @include respond(phone) {
      display: none;
    }
  }

  &__theme-switch-box {
    width: 100px;
    height: 30px;
    border-radius: 70px;
    background-color: $color-secondary-dark;
    margin-right: 30px;
  }

  &__btn {
    background-color: $color-primary;
    padding: 12px 20px;
    color: $color-white;
    border-radius: 8px;
  }

  &__line {
    display: inline-block;
    width: 1px;
    height: 48px;
    background-color: $color-grey-c8c;
    margin: 0 15px;
  }

  &__user {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 50%;
    height: 48px;
    width: 48px;
    background-color: $color-secondary-dark;
    color: $color-grey-c8c;
    border: 1px solid $color-grey-c8c;
    text-transform: uppercase;
  }
}

.hamburger {
  width: 30px;
  flex: 0 0 30px;
  display: none;
  flex-direction: column;
  cursor: pointer;
  margin-left: 2rem;

  @include respond(tab-land-sm) {
    display: flex;
  }

  .bar {
    display: inline-block;
    width: 100%;
    height: 3px;
    border-radius: 2px;
    background-color: $color-white;
    
    &:not(:last-child) {
      margin-bottom: 4px;
    }
  }
}

.topbar-overlay {
  padding-left: 25rem;

  @include respond(tab-land-sm) {
    padding-left: 0;
  }

  &__main {
    display: flex;
    justify-content: flex-end;
    padding-top: 8.8rem;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    color: $color-grey-c8c;
    max-width: 35rem;
    padding: 4rem;
    padding-bottom: 2rem;
    border: 1px solid $color-grey-707;
    border-radius: 12px;
    background-color: $color-primary-dark;

    @include respond(phone) {
      padding: 2rem;
    }
  }

  &__avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6rem;
    width: 6rem;
    font-size: 2rem;
    border-radius: 50%;
    border: 1px solid $color-grey-c8c;
    background-color: $color-secondary-dark;
    text-transform: uppercase;
  }

  &__list-box {
    margin-top: 3rem;
    width: 100%;
  }

  &__list-item {
    display: inline-block;
    width: 100%;
    padding: 1.5rem 0;
    border-top: 1px solid $color-grey-707;
  }

}
